# Trinity Mirror Regional

## System

error_log
.DS_Store

## Server

.env
/shared/*

## Development

bin
.vagrant
vendor/*

## NodeJS

node_modules/
npm-debug.log

## WordPress

html/wp/*
html/media/*

!html/media/index.php

### Languages
html/app/languages/*

#### White-list Languages
!html/app/languages/index.php

### Plugins
html/app/db.php
html/app/plugins/*
html/app/plugins-mu/*

#### White-list Plugins
!html/app/plugins/index.php
!html/app/plugins/ctba-entries-2016.php
!html/app/plugins-mu/index.php
!html/app/plugins-mu/ctba_categories.php
!html/app/plugins-mu/ctba_entries.php
!html/app/plugins-mu/ctba_judges.php
!html/app/plugins-mu/ctba_partners.php
!html/app/plugins-mu/ti-core-functions.php
!html/app/plugins-mu/ti-roles-and-capabilities.php
!html/app/plugins-mu/ti-widgets.php
!html/app/plugins-mu/ti-wordpress-seo.php

### Themes
.sass-cache
html/app/themes/*

#### White-list Themes
!html/app/themes/index.php
!html/app/themes/ctba-2016/
