/**
 * Typography
 */

.heading--main {
  margin-bottom: 12px;
  padding-top: 12px;
  padding-right: 14.5px;
  padding-bottom: 12px;
  padding-left: 14.5px;
  background-color: #E9E9E9;
  border-top: 6px solid @brand--blue;
  border-bottom: 1px solid @brand--grey;
}

h4 {
	letter-spacing: @h4--letter-spacing;
}

article h2,
article h3,
article h4,
article h5,
article p,
article ul,
article small,
article label,
article .list {
  padding-right: 14.5px;
  padding-left: 14.5px;
}

aside .gamma {
  font-size: 18px;
  line-height: 1.7713em;
}

a {
  font-weight: bold;
}

hr {
	margin-bottom: 2em;
	// Reset `hr` defaults
	border: 0 solid @brand--grey;
  border-bottom-width: 1px;
}
